**/node_modules
**/.turbo
**/.output
**/dist
**/coverage
**/.vite
**/.cache
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
**/.git
**/.gitignore
**/.husky
**/.cursor
references
docs
*.md
.markdownlint.json
.editorconfig
.vscode
.idea
**/*.log
